services:
  backend:
    build: 
      context: ./
      dockerfile: Dockerfile.dev
    ports:
      - "3000:8000"
    environment:
      - PORT=8000
      - DATABASE_URL=postgresql://postgres:test123@db:5432/db
      - NODE_ENV=development
      - JWT_SECRET=${JWT_SECRET:-dev_jwt_secret_key}
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true
  db:
    image: postgres:15
    container_name: postgres_container
    restart: always
    environment:
       POSTGRES_USER: postgres
       POSTGRES_PASSWORD: test123
       POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: